* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f6d6a8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app {
  background: #fff2d8;
  width: 320px;
  padding: 20px;
  border-radius: 25px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.15);
}

.title {
  text-align: center;
  font-size: 22px;
}

.date {
  text-align: center;
  font-size: 12px;
  color: #777;
}

.days {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}

.days span {
  background: #f2c98f;
  padding: 6px 10px;
  border-radius: 10px;
  font-size: 12px;
}

.days .active {
  background: #e59c59;
  color: white;
}


.tasks {
  list-style: none;
  padding: 0;
}

.tasks li {
  background: #fde8c8;
  padding: 10px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.tasks li.completed {
  text-decoration: line-through;
  opacity: 0.6;
}

.tasks input {
  margin-right: 10px;
}

.input-area {
  display: flex;
  margin-top: 10px;
}

.input-area input {
  flex: 1;
  padding: 10px;
  border-radius: 15px;
  border: none;
}

.input-area button {
  margin-left: 8px;
  border: none;
  background: #e59c59;
  color: white;
  font-size: 20px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.clear-all button{
  background: #f2c98f;
  border-radius: 10px;
  border: none;  
  padding: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.cat {
  text-align: center;
  font-size: 30px;
  margin-top: 15px;
}
